<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Stock Analysis{% endblock %}</title>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Stock Dashboard</a>
  </div>
</nav>

<div class="container">
  <h1 class="text-center mb-4">Stock Patterns Analysis</h1>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>OI Gainers</th>
        <th>OI Losers</th>
        <th>Bullish Engulfing</th>
        <th>Doji</th>
        <th>Rising Wedge</th>
        <th>Falling Wedge</th>
	<th>Hammer</th>
	<th>Near 52W High</th>
	<th>Near 52W Low</th>
	<th onClick="clearWatchlist()">Watchlist</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="oi-gainers"></td>
        <td id="oi-losers"></td>
        <td id="bullish-engullfing"></td>
        <td id="doji"></td>
        <td id="rising-wedge"></td>
        <td id="falling-wedge"></td>
        <td id="hammer"></td>
        <td id="near-52week-high"></td>
        <td id="near-52week-low"></td>
	<td id="watchlist"></td>
      </tr>
    </tbody>
  </table>
</div>

{% block content %}
{% endblock %}

  <footer class="mt-4 text-center">
    <p>&copy; 2024 Rajan Dashboard</p>
  </footer>

  {{ API_BASE_URL|json_script:"api-base-url" }}
  <script src="{% static 'js/watchlist.js' %}"></script>
  <script src="{% static 'js/all.js' %}"></script>
</body>
</html>
