<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
    <h1>OI Gainers</h1>
    <div id="oi-gainers"></div>

    <h1>OI Losers</h1>
    <div id="oi-losers"></div>

    <h1>Bullish Engullfing</h1>
    <div id="bullish-engullfing"></div>

    <h1>Doji</h1>
    <div id="doji"></div>

    <h1>Rising Wedge</h1>
    <div id="rising-wedge"></div>

    <h1>Falling Wedge</h1>
    <div id="falling-wedge"></div>

    <h1>Hammer</h1>
    <div id="hammer"></div>

    <h1>Near 52 Weeks High</h1>
    <div id="near-52week-high"></div>

     <h1>Near 52 Weeks Low</h1>
    <div id="near-52week-low"></div>

  {% block content %}
  {% endblock %}

  {{ API_BASE_URL|json_script:"api-base-url" }}
  <script src="{% static 'js/all.js' %}"></script>
</div>
</body>
</html>
